/**
 *  theF33D
 *  (c) Brandon Moody <brandon@thef33d.com>
 */


div.header
  height: 100px
  width: 100%
  background-color: #ffffff
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  padding: 0 20px
  position: fixed
  top: 0px
  z-index: 10
  transition: all 0.3s
  .header-search-bar-menu-button
    height: 100%
    width: 120px
    display: flex
    justify-content: center
    align-items: center
    i
      color: #78909C
      font-size: 32px
      cursor: pointer
  form.header-search-bar
    width: 50%
    border-radius: 2px
    height: 50px
    background-color #eceff1
    position: relative
    display: flex
    flex-direction: row
    input.header-search-bar-input
      padding: 4px 125px 4px 20px
      height: 100%
      width: 100%
      background-color: transparent
      font: 18px/22px Roboto, sans-serif
      vertical-align: middle
      color: #212121
      border: 0
    .header-search-bar-button
      cursor: pointer
      position: absolute
      right: 0
      background-color: #CFD8DC
      border-radius: 2px
      height: 100%
      width: 110px
      display: flex
      align-items: center
      justify-content: center
      i
        color: #607D8B
        font-size: 22px
  .header-side-bar
    position: fixed
    left: -280px
    top: 100px
    width: 280px
    height: calc(100% - 100px)
    background-color: #ffffff
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000)
    &.active
      left: 0
